    <tr>
      <th scope="row">
        {{this.dataValues.id}}
      </th>
      <td>
        {{this.dataValues.points_for}}
      </td>
      <td>
        {{this.dataValues.average}}
      </td>
      <td>
        {{this.dataValues.week3}}
      </td>
      <td>
        {{this.dataValues.week2}}
      </td>
      <td>
        {{this.dataValues.week1}}
      </td>
      <td>
        {{this.dataValues.week_average}}
      </td>
      <td>
        {{this.dataValues.perfect}}
      </td>
      <td>
        {{this.dataValues.ceiling}}
      </td>
      <td>
        {{this.dataValues.floor}}
      </td>
      <td>
        {{this.dataValues.power}}
      </td>
    </tr>