<tbody>
  <tr>
    <th scope="row">
      Team {{id}}
    </th>
    <td>
      {{points_for}}
    </td>
    <td>
      {{average}}
    </td>
    <td>
      {{week3}}
    </td>
    <td>
      {{week2}}
    </td>
    <td>
      {{week1}}
    </td>
    <td>
      {{week_average}}
    </td>
    <td>
      {{perfect}}
    </td>
    <td>
      {{ceiling}}
    </td>
    <td>
      {{floor}}
    </td>
    <td>
      {{power}}
    </td>
  </tr>
</tbody>